* {
   font-family: 'Jost', sans-serif;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
}

body {
   background: url(images/motion.jpg);
   object-fit: cover;
}



/* Green Top Header */
.greentop {
   display: flex;
   padding-left: auto;
   background: rgb(3, 54, 3);
   margin-right: auto;
}

#funaabLogo {
   margin-left: 90px;
   padding-top: 10px;
   padding-bottom: 10px;
}

.spreadLinks {
   margin-left: auto;
   padding-top: 10px;
   margin-right: 90px;
   font-size: 13px;
}

.spreadLinks a {
   text-decoration: none;
   color: white;
   font-weight: lighter;
   letter-spacing: .5px;
   padding: 6px;
   z-index: 2;
}

.spreadLinks a:hover {
   border-bottom: 2px solid grey;
   padding-bottom: 7px;
   font-weight: bolder;
   cursor: pointer;
}

/* The second part White Part */

#whiteTop {
   background: white;
}

#secondLinks {
   background: white;
   padding-bottom: 25px; padding-top: 25px;
   text-align: center;
   
}


#secondLinks a {
   text-decoration: none; 
   font-size: 13px;
   font-weight: bolder;
   padding: 20px;
   color: rgb(126, 107, 107);
}

.dropdown {
   display: inline-block;
   position: relative;
}

.dropdown-options {
   display: block;
}


.dropdown-options {
   display: none;
   position: absolute;
   overflow: auto;
   text-align: left;
   width: 180px;
   background: #EDF2F7 ;
   z-index: 1;
}



.dropdown-options a{
   display: block;
   
}

.dropdown-options a:hover{
   color: rgb(25, 68, 25);
   background-color: rgb(218, 216, 216);
   transition: ease-in-out .2s;
}


.dropdown:hover .dropdown-options {
   display: block;
}


/* second dropdown */


#drop-down {
   display: inline-block;
   position: relative;
}

#dropdown-options {
   display: none;
   position: absolute;
   overflow: auto;
   text-align: left;
   width: 500px;
   background: #EDF2F7;
   z-index: 1;
}

#drop-down:hover #dropdown-options {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(5,1fr);
   padding: 10px;
}





#dropdown-options a{
   display: block;
}

#dropdown-options a:hover{
   color: rgb(25, 68, 25);
   background-color: rgb(218, 216, 216);
   transition: ease-in-out .2s;
}

/* third dropdown */

.dropDownThree {
   display: inline-block;
   position: relative;
}

.dropDownThree:hover #dropdown-options-three {
   display: block;
}

#dropdown-options-three {
   display: none;
   position: absolute;
   overflow: auto;
   text-align: left;
   width: 170px;
   background: #EDF2F7;
   z-index: 1;
}

#dropdown-options-three a {
   display: block;
}

#dropdown-options-three a:hover {
   color: rgb(25, 68, 25);
   background-color: rgb(218, 216, 216);
   transition: ease-in-out .2s;
}

/* fourthdropdown */

.fourthdropdown {
   display: inline-block;
   position: relative;
}

#fourthoptions {
   display: none;
   position: absolute;
   overflow: auto;
   text-align: left;
   background: #EDF2F7;
   z-index: 1;
}

.fourthdropdown:hover #fourthoptions {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(5, 1fr);
}



#fourthoptions a:hover{
   color: rgb(25, 68, 25);
   background-color: rgb(218, 216, 216);
   transition: ease-in-out .2s;
}

/* fifth dropdown */

.fifthdropdown {
   display: inline-block;
   position: relative;
}


#fifthoptions {
   display: none;
   position: absolute;
   text-align: left;
   overflow: auto;
   background: #EDF2F7;
   width: 250px;
   z-index: 1;
}

.fifthdropdown:hover #fifthoptions {
   display: block;
   color: grey;
}

#fifthoptions a{
   display: block;
}

#fifthoptions a:hover {
   color: rgb(25, 68, 25);
   background-color: rgb(218, 216, 216);
   transition: ease-in-out .2s;
}

/* sixth dropdown */

.sixthdropdown {
   display: inline-block;
   position: relative;
}

#sixthoptions {
   display: none;
   position: absolute;
   overflow: auto;
   text-align: left;
   background: #EDF2F7;
   width: 250px;
   z-index: 1;
}



.sixthdropdown:hover #sixthoptions {
   display: block;
}

#sixthoptions a {
   display: block;
}

#sixthoptions a:hover {
   color: rgb(25, 68, 25);
   background-color: rgb(218, 216, 216);
   transition: ease-in-out .2s;
}

/* seventh dropdown */

.seventhdropdown {
   display: inline-block;
   position: relative;
}

.seventhdropdown #seventhoptions {
   display: none;
   position: absolute;
   overflow: auto;
   text-align: left;
   width: 250px;
   background: #EDF2F7;
   z-index: 1;
}

.seventhdropdown:hover #seventhoptions {
   display: block;
}


#seventhoptions a{
   display: block;
}

#seventhoptions a:hover {
   color: rgb(25, 68, 25);
   background-color: rgb(218, 216, 216);
   transition: ease-in-out .2s;
}




 /* #drop-down:hover #dropdown-options {
   display: block;
} */




/* dropdown menu issue */
/* .leader {
   background: black;
   position: relative;
}

.leader:hover > #hover-me > #drop-down-menu > a {
   background: black;
}

#drop-down-menu a{
   display: none;
}


#hover-me:hover > #drop-down-menu a {
   position: absolute;
   display: block;
   margin-top: -40px;
   margin-left: 140px;
   background: grey;
} */



/* images section */

/* #greenImages {
   background: #008751;
   border-top: #008751;
   border-bottom: #008751;
} */

.fa-angles-left,
.fa-angles-right {
   font-size: 26px;
   position: absolute;
   top: 55%;
   transform: translateY(-50%);
   background: rgba(218, 216, 216 .5);
   padding: 0 .5rem;
   z-index: 2;
   background: rgba(0, 0, 0 .1);
}


.funimg{
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
   background: rgb(238, 231, 231);
   
}

.funimg img {
   width: 1300px;
   height: 400px;
}

.fourth {
   height: 225px;
   position: relative;
}
.third,
.first,
.second{
   position: absolute;
}

.second {
   height: 225px;
}

.third {
   height: 225px;
}

.first {
   height: 225px;
}

.stickyPage {
   text-align: center;
   /* position: relative; */
   
}

.newSticky {
   border: 1px solid #008751;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   border-radius: 5px;
   position: absolute;
   top: 80%;
   right: 25%;
   background: White;
   
}

.fa-book,
.fa-clapperboard,
.fa-scroll,
.fa-book-journal-whills {
   font-size: 45px;
   display: flex;
   color: #008751;
}

.university {
   display: inline-block;
   height: 100px;
   padding: 9px;
   text-align: center;
   font-size: 20px;
   line-height: 40px;
   font-family: 'Jost', sans-serif;
   align-items: center;
   color: #008751;
}

.university:hover {
   background: #18be7c;
}

/* brands */

.container {
   margin-bottom: 30px;
   background: white;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 30px;
   
   
}


.shanghai {
   width: 570px;
   display: flex;
   align-items: center;
}
.png {
   width: 280px;
   align-items: center;
}

.twoone,
.num-one,
.fifteen,
.ninth {
   font-weight: bolder;
}

.global {
   color: #18be7c;
   font-weight: bold;
   font-size: 18px;
}

/* three images */

.greenBackground {
   text-align: center;
}

.smallGreenImages {
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   align-items: center;
}

.smallGreenImages img{
   margin: 5px;
   border: 5px solid #61CE70;
   height: 271px;
   width: 346px;
}

.alhaji {
   position: relative;
   color: #EDF2F7;
}



/* .newbutton {
   position: relative;
}

.newbutton button {
   position: absolute;
   left: 50%;
} */

.alhajitexts {
   position: absolute;
   top: 75%;
   left: 30%;
   background: #61CE70;
   transition: ease-in-out .5s;
   font-size: 15px;
   font-weight: bold;
}


.alhajitexts:hover {
   background: #18be7c;
}

.ahmed {
   font-weight: bolder;
   font-size: 25px;
   color: #EDF2F7;
}

.smallGreenImages img:hover{
   content: "Read More";
   background: #61CE70;
}




/* news part */

#containerTwo {
   background: #008751;
}


#updates {
   background: #EDF2F7;
   padding: 50px;
}

.collections {
   display: grid;
   grid-template-columns: 2fr 1fr;
}

.newnews {
   grid-row-start: 1;
   grid-row: span 8;
   background: white;
   border: none;
   border-radius: 10px;
   text-align: center;
   box-shadow: rgba(0, 0, 0 .1);
}

.newnews .newupcomingtwo {
   color: #008751;
   font-size: 24px;
   font-weight: bold;
   margin-top: 20px;
}

.newupcoming{
   border-bottom: 1px solid black;
   margin-top: 15px;
   padding-bottom: 15px;
   color: #008751;
   font-weight: bold;
   font-size: 24px;
}



.updatee {
   color: #008751;
   font-size: 24px;
   font-weight: bold;
}

.allnews{
   margin-bottom: 30px;
}

#newroll {
   background: blue;
   display: grid;
   grid-column: 2fr 1fr;
}


.news {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   background: #EDF2F7;
}

.newtexts{
   text-decoration: none;
   font-size: 14px;
   row-gap: 20px;
   column-gap: 5px;
   font-weight: bold;
   width: 180px;
   margin-left: 15px;
}

.newtexts > a {
   text-decoration: none;
   color: #008751
   ;
}

.proff {
   width: 100px;
}


.newsOne,
.newstwo,
.newsthree,
.newsfive,
.newssix{
   display: flex;
   align-items: center;
   padding-right: 15px;
}

/* container four */


.funaabbio {
   position: relative;
   height: 821px;
}

.funaabbios {
   position: absolute;
   top: 0;
   left: 0;
   
}

.aboutFunaab {
   position: relative;
}

.aboutFunaab img {
   width: 1349px;   
}

.imageText {
   position: absolute;
   top: 50%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   text-align: center;
   z-index: 1;
   /* margin-left: 30px;
   margin-right: 30px; */
   align-items: center;
}

.imageText h1 {
   color: #dbdfe2;
   font-weight: bold;
   font-size: 80px;
   text-align: center;
   align-items: start;
   width: 150px;
   margin-left: 50px;
}


.read {
   width: 600px;
   color: #d3d4d4;
   text-align: start;
}

.readmore {
   padding-bottom: 30px;
   font-weight: bold;
   font-size: 26px;
}

.reading {
   font-size: 19px;
   color: #EDF2F7;
}

/* container five */

#containerfive {
   background: #008751;
   padding: 40px;
}

.slidingimages {
   max-height: 120px;
   display: flex;
   overflow-x: auto;
}

.slidingimages::-webkit-scrollbar {
   width: 0;
}

.slidingimages img {
   min-width: 110px;
   height: 110px;
   line-height: 110px;
   margin-right: 9px;
}